@model EntityFrameworkAssignment.Models.Course

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseName)
        </dd>

    </dl>
</div>

<div class="row">
    <h3>Students:</h3>
    @foreach (var item in Model.Students)
    {
        <div class="">@item.StudentID - @item.StudentName</div>
    }
</div>
<div class="row">
    <h3>Teachers:</h3>
    @foreach (var item1 in Model.Teachers)
    {
        <div class="">@item1.TeacherID - @item1.TeacherName</div>
    }
</div>
<div class="row">
    <h3>Assignments:</h3>
    @foreach (var item2 in Model.Assignments)
    {
        <div class="">@item2.AssignmentID - @item2.AssignmentName</div>
    }
</div>
<br />
<br />
<p>-----------------------------------------------------------------------------------------</p>
<br />
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CourseID }) |
    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("AddTeachersToCourse", "AddTeachersToCourse", new { id = Model.CourseID }) |
    @Html.ActionLink("AddStudentToCourse", "AddStudentToCourse", new { id = Model.CourseID }) |
    @Html.ActionLink("AddAssignmentToCourse", "AddAssignmentToCourse", new { id = Model.CourseID })
</p>